/*---------------ETIQUETAS---------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

body{
    background-color: white;
}

h1{
    /* font-size: 5rem; */
    font-size: 4rem;
    color: rgba(81, 145, 181, 71);
}

h2{
    /* font-size: 4rem; */
    font-size: 3rem;
    color: rgba(81, 145, 181, 71);
}

h3{
    font-size: 3.5rem;
    color: rgba(78, 95, 105, 41);
}

h4{
    font-size: 3rem;
    color: rgba(78, 95, 105, 41);
}

h5{
    font-size: 3rem;
    color: rgba(78, 95, 105, 41);
}

h1,h2,h3,h4,h5,img{
    overflow-y: hidden;
}


p{
    font-size: 2rem;
    color: rgba(78, 95, 105, 41);
}

li{
    font-size: 2.5rem;
    color: rgba(78, 95, 105, 41);
}



nav{
    background-color: rgba(179, 216, 238, 93);
    /* justify-content: space-between; */
}
        nav ul li{
            font-size: 2.5rem;
            margin-right: 20px;
            
        }

/*---------------CLASES---------------*/


/*---------------HEADER---------------*/


.header__button{
    width: 64px;
    height: 64px;
}

.header__li{
    padding: 0px 15px
}

.header__a{
    color: white;
}

/*---------------INDEX---------------*/
.header__img{
    width: 65px;
}
.header__img--social{
    padding: 0px 10px;
    width: 50px;
}

.section__img--carrousel{
    height: 93vh;
    object-fit: cover;
}

.section_button--carrousel{
    color: red;
}

/*---------------Section services---------------*/

.section__img--services{
    width: 512px;
}
.section__lista--services, .section__imagen--services, .section__texto--services{
    min-width: 33%;
}
.section__li--services{
    padding: 1.5rem;
    margin-right: 20px;
}


/*---------------BREAK POINTS---------------*/