.btn-dti{
    width: 100px;
    &:hover{
        background: map-get($map: $colores, $key: 'primaryTitleColor' );
    }
    
}

.btn-principal{
    @extend .btn-dti;
    background-color: rgba(81, 145, 181, 71);
}