//variables
$colores:(
    'primaryColor':rgba(100, 178, 224, 1),
    'secondaryColor': rgba(177, 214, 236, 1),
    'primaryTitleColor': rgba(81, 145, 181, 1),
    'secondaryTittleColor': rgba(78, 95, 105, 1),
    'primaryTextColor': rgba(78, 95, 105, 1),
    'secondaryTextColor': rgba(78, 95, 105, .6),
    'tertiaryTextColor': white,
);

*{
    font-family: $mainFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

body{
    background-color: white;
}

h1,h2,h3,h4,h5,img{
    color: map-get($map: $colores, $key: 'secondaryTittleColor' );
    overflow-y: hidden;
}

h1{
    font-size: $textH1;
    color: map-get($map: $colores, $key: 'primaryTitleColor' );
}

h2{
    /* font-size: 4rem; */
    font-size: $textH2;
    color: map-get($map: $colores, $key: 'primaryTitleColor' );
}

h3{
    font-size: $textH3;
}

h4{
    font-size: $textH4;
}

h5{
    font-size: $textH5;
}

p{
    font-size: $textP;
    color: map-get($map: $colores, $key: 'secondaryTextColor' );
}

li{
    font-size: $textNav;
    color: rgba(78, 95, 105, 41);
}
section{
    padding: 3rem;
    @include flex(column,center,center);
}
label{
    font-size: $textLabel;
    color: map-get($map: $colores, $key: 'primaryTitleColor' );
}