//variables
$primaryColor:rgba(100, 178, 224, 1);
$secondaryColor: rgba(177, 214, 236, 1);
$primaryTitleColor: rgba(81, 145, 181, 1);
$secondaryTittleColor: rgba(78, 95, 105, 1);
$primaryTextColor: rgba(78, 95, 105, 1);
$tertiaryTextColor: white;

*{
    font-family: $mainFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

body{
    background-color: white;
}

h1,h2,h3,h4,h5,img{
    color: $secondaryTittleColor;
    overflow-y: hidden;
}

h1{
    font-size: $textH1;
    color: $primaryTitleColor
}

h2{
    /* font-size: 4rem; */
    font-size: $textH2;
    color: $primaryTitleColor
}

h3{
    font-size: $textH3;
}

h4{
    font-size: $textH4;
}

h5{
    font-size: $textH5;
}

p{
    font-size: $textP;
    color: $primaryTextColor;
}

li{
    font-size: $textLi;
    color: rgba(78, 95, 105, 41);
}