/*---------------INDEX---------------*/


/*----------Portada----------*/

.portada__div--index{
    width: 100%;
    height: 95vh;
    //background-image: url(../images/portadas/Science_Monochromatic.svg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/portadas/portada-dti.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.portada__h1--index, .portada__h2--index{
    color: map-get($map: $colores, $key: 'tertiaryTittleColor' );
}


/*---------------Section services---------------*/

.section__img--services{
    width: 512px;
}
.section__lista--services, .section__imagen--services, .section__texto--services{
    min-width: 33%;
}
.section__li--services{
    padding: 1.5rem;
    margin-right: 20px;
}


/*---------------Section why---------------*/

.section__img--why{
    width: 128px;
}


/*---------------Section discover---------------*/

.section__discover{
    padding: 30px 42px;
    background-image: url(../images/fondo-principal.jpg);
    height: 100vh;
    background-repeat:round;
    background-attachment: fixed;
}

/*---------------CONTACTO---------------*/
.section_formulario--frame{
    min-width: 100%;
    height:539px;
    border:none;
}
/*---------------COLORS--------------*/
.principal{
    background-color: rgba(179, 216, 238, 93);
}

.secundario{
    background-color: rgba(81, 145, 181, 71);
}

.principalText{
    color: white;
}

/*---------------BREAK POINTS---------------*/

