@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro:wght@300&display=swap');
$mainFont:'Roboto', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;


//Sizing

//Mobile
$textH1:5rem;
$textH2:4rem;
$textH3:3.5rem;
$textH4:3rem;
$textH5:3rem;
$textP:2rem;
$textLi:2.5rem;