.footer{
    color: map-get($map: $colores, $key: 'tertiaryTextColor');
}
.footer__img{
    width: 128px;
}
.footer__div{
    margin-top: 2rem;
}

.footer__h3{
    color: map-get($map: $colores, $key: 'tertiaryTextColor');
}

.footer__li{
    font-size: $textFooter;
    color: map-get($map: $colores, $key: 'tertiaryTextColor');
}

.footer__p{
    color: map-get($map: $colores, $key: 'tertiaryTextColor');
}
