nav{
    background-color: map-get($map: $colores, $key: 'primaryColor' );
    /* justify-content: space-between; */
    ul{
        li{
            font-size: $textNav;
            margin-right: 20px;
            
        }
    }
}

.header__button{
    border-color: map-get($map: $colores, $key: 'quartiaryColor' );
    width: 64px;
    height: 64px;
    &:focus{
        box-shadow: none;
    }
}


.header__svg{
    width: 32px;
    height: 32px;
    fill: map-get($map: $colores, $key: 'quartiaryColor' );
}

.header__li{
    padding: 0px 15px
}

.header__a{
    color: map-get($map: $colores, $key: 'tertiaryTextColor' );
}

.header__img{
    width: 65px;
}
.header__img--social{
    padding: 0px 10px;
    width: 50px;
}